/* Define the theme colors to be used throughout the responsive_classic template.
This does not affect the standard notification font, link, hover, etc. colors of the cart.
There are two text and form colors to assist in theme contrast when different colors are selected.
An example of Complementary Color Schemes is available at https://w3schools.com/colors/colors_complementary.asp*/
:root {
	--color-main: #6699CC;/* Background Color for most wrappers, headings and buttons in hex. */
	--color-main-rgb: 102,153,204;/* Background Color for most wrappers, headings and buttons in rgb. */
	--color-second: #99CCFF;/* Background Color for Main Wrapper in hex. */
	--color-second-rgb: 153,204,255;/* Background Color for  in rgb. */
	--color-third: #CCFFFF;/* Background Color for  in hex. */
	--color-third-rgb: 204,255,255;/* Background Color for  in rgb. */
	--color-text3: #333333;/*Text color for specific hovers.*/
	--color-warn: #CC6600;/* Background Color for warnings in hex. */
	--color-warn-rgb: 204,102,0;/* Background Color for warnings in rgb. */
	--color-error: #CC3333;/* Background Color for errors and some hover notifications in hex. */
	--color-error-rgb: 204,51,51;/* Background Color for error notifications in rgb. */
	--color-form1: #DCDCDC;/* Background Color for  in hex. */
	--color-form1-rgb: 220,220,220;/* Background Color for  in rgb. */
	--color-form2: #EEEEEE;/* Background Color for  in hex. */
	--color-form2-rgb: 238,238,238;/* Background Color for  in rgb. */
	--color-text1: #FFFFFF;/* Text Color for light text in hex. */
	--color-text2: #000000;/* Text Color for  dark text in hex. */
}

/* a link tags and their colors */
a:link {color:var(--color-text2);}
#navEZPagesTOC ul li a {color:var(--color-text2);}
h2.greeting a {color:var(--color-text2);}
.categoryListBoxContents a {color:var(--color-text2);}
#siteinfoLegal a {color:var(--color-text2);}
.itemTitle a {color:var(--color-text2);}
.specialsListBoxContents a {color:var(--color-text3);}
.centerBoxContentsAlsoPurch a {color:var(--color-text3);}
.centerBoxContentsFeatured a {color:var(--color-text3);}
.centerBoxContentsSpecials a {color:var(--color-text3);}
.centerBoxContentsNew a {color:var(--color-text3);}
#navMain ul li a {color:var(--color-text1); color:rgba(var(--color-text1-rgb),1.0);}
#navEZPagesTop li a {color:var(--color-text2);}
.pagination li a {color:var(--color-text2);}
#navCatTabs li a {color:var(--color-text2);}
#navSupp li a {color:var(--color-text2);}
h3.rightBoxHeading a {color:var(--color-text2);}
h3.leftBoxHeading a {color:var(--color-text2);}
.navSplitPagesLinks a {color:var(--color-text1);}
.productListing-rowheading a {color:var(--color-text1);}
a.list-more {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
.navSplitPagesLinks a {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}

/* a hover tags and their colors */
a:hover {color:var(--color-error);}
#navEZPagesTOC ul li a:hover {color:var(--color-error);}
#navEZPageNextPrev i:hover, .navNextPrevList i:hover{color:var(--color-error);}
#navMain ul li a:hover {color:var(--color-error);}
#navSupp ul li a:hover {color:var(--color-error);}
h3.rightBoxHeading a:hover {color:var(--color-error);}
h3.leftBoxHeading a:hover {color:var(--color-error);}
.itemTitle a:hover {color:var(--color-error);}
h2.greeting a:hover {color:var(--color-error);}
.blue:hover {color:var(--color-error);} /*important*/
#navCatTabs li a:hover {color:var(--color-error);}
#navCatTabs li:hover {color:var(--color-error);}
#siteinfoLegal a:hover {color:var(--color-error);}
input.submit_button:hover {color:var(--color-error);}
.categoryListBoxContents a:hover {background-color:var(--color-form2);background-color:rgba(var(--color-form2-rgb),0.5);}
.specialsListBoxContents:hover {background-color:var(--color-form2);background-color:rgba(var(--color-form2-rgb),0.5);}
.centerBoxContentsSpecials:hover {background-color:var(--color-form2);background-color:rgba(var(--color-form2-rgb),0.5);}
.centerBoxContentsAlsoPurch:hover {background-color:var(--color-form2);background-color:rgba(var(--color-form2-rgb),0.5);}
.centerBoxContentsFeatured:hover {background-color:var(--color-form2);background-color:rgba(var(--color-form2-rgb),0.5);}
.centerBoxContentsNew:hover {background-color:var(--color-form2);background-color:rgba(var(--color-form2-rgb),0.5);}
.categoryListBoxContents:hover {background-color:var(--color-form2);background-color:rgba(var(--color-form2-rgb),0.5);}
.sideBoxContentItem:hover {background-color:var(--color-form2);background-color:rgba(var(--color-form2-rgb),0.5);}
ul.list-links li:hover {background:var(--color-form2);}
ol.list-links li:hover {background:var(--color-form2);}
.productListing-even:hover {background-color:var(--color-form2);background-color:rgba(var(--color-form2-rgb),0.8);}
.productListing-odd:hover {background-color:var(--color-form2);background-color:rgba(var(--color-form2-rgb),0.3);}
.productListing-rowheading a:hover {background:none;}
.button_more_reviews:hover {background:var(--color-text3);}
.button_read_reviews:hover {background:var(--color-text3);}
#navSupp li a:hover {background-color:var(--color-third);background-color:rgba(var(--color-third-rgb)0.6);}
#navEZPagesTop li a:hover {background-color:var(--color-third);background-color:rgba(var(--color-third-rgb)0.6);}
.pagination li a:hover {background:#777;}
.navSplitPagesLinks a:hover {background:#999;}
/*.list-more:hover {background:#05a5cb;}*/
.button_goto_prod_details:hover {background:#05a5cb;} /*important*/
#navCatTabs li a:hover {background-color:var(--color-third);background-color:rgba(var(--color-third-rgb)0.6);}
input.submit_button:hover {background:var(--color-third);}
input.cssButtonHover {background:var(--color-second);}
.normal_button:hover {background:var(--color-main);}


/* a visited tags and their colors */
.sideBoxContent a:visited {color:var(--color-error);}
#navBreadCrumb a:visited {color:var(--color-error);}
a:visited {color:var(--color-error);}


/* a active and its color */
a:active {color:var(--color-text2)0ff;}


/* focus colors */
input:focus {background:var(--color-form2);}
input:focus {background:var(--color-form2);}
select:focus {background:var(--color-form2);}
textarea:focus {background:var(--color-form2);}



/* bof font colors */
body {color:var(--color-text2);}
.messageStackSuccess {color:var(--color-text2);}
.messageStackCaution {color:var(--color-warn);}
#tagline {color:var(--color-text2);}
#productQuantityDiscounts table {color:var(--color-text2);}
#fieldset fieldset legend {color:#05a5cb;}
.cartTotalDisplay {color:#05a5cb;}
.cartOldItem {color:#05a5cb;}
.specialsListBoxContents {color:#05a5cb;}
.centerBoxContentsSpecials {color:#05a5cb;}
.centerBoxContentsAlsoPurch {color:#05a5cb;}
.centerBoxContentsFeatured {color:#05a5cb;}
.centerBoxContentsNew {color:#05a5cb;}
.list-price {color:#05a5cb;}
h2.greeting {color:var(--color-text2);}
icon {color:#05a5cb;}
h1 {color:var(--color-text2);}
.header .fa-bars {color:var(--color-text1); color:rgba(var(--color-text1-rgb),1.0);}
.cat-count {color:#666;}
h2 {color:#444;}
h3 {color:#444;}
.cartAttribsList {color:#444;}
#cart-box {color:#444;}
.blue {color:#05a5cb;} /*important*/
.alert {color: #8b0000;}
legend {color:var(--color-text3);}
.productPriceDiscount {color:var(--color-text3);}
.messageStackWarning {color:var(--color-text2);}
.messageStackError {color:var(--color-text2);}
#navMainWrapper {color:var(--color-text2);}
#navCatTabsWrapper {color:var(--color-text2);}
#navEZPagesTop {color:var(--color-text2);}
#navSuppWrapper {color:var(--color-text2);}
#siteinfoIP {color:var(--color-text2);}
#siteinfoLegal {color:var(--color-text2);}
#bannerSix {color:var(--color-text2);}
h2.centerBoxHeading {color:var(--color-text2);}
h3.rightBoxHeading {color:var(--color-text2);background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
h3.leftBoxHeading {color:var(--color-text2);}
.seDisplayedAddressLabel {color:var(--color-text1);}
TR.tableHeading {color:var(--color-text1);}
#shippingEstimatorContent h2 {color:var(--color-text1);}
#shippingEstimatorContent th {color:var(--color-text1);}
#checkoutConfirmDefault .cartTableHeading {color:var(--color-text1);}
#filter-wrapper {color:var(--color-text1);}
.current {color:var(--color-text1);}
.prod-list-wrap {color:var(--color-text2);}
#productQuantityDiscounts table tr:first-child td {color:var(--color-text1);}
#reviewsWriteHeading {color:var(--color-text1);}
#sendSpendWrapper h2 {color:var(--color-text1);}
#accountDefault #sendSpendWrapper h2 {color:var(--color-text1);}
#gvFaqDefaultSubHeading {color:var(--color-text1);}
#checkoutPayAddressDefaultAddress {color:var(--color-text1);}
#checkoutShipAddressDefaultAddress {color:var(--color-text1);}
#accountLinksWrapper h2 {color:var(--color-text1);}
#addressBookDefaultPrimary h2{color:var(--color-text1);}
#myAccountPaymentInfo h3 {color:var(--color-text1);}
#myAccountShipInfo h3 {color:var(--color-text1);}
#myAccountPaymentInfo h4 {color:var(--color-text1);}
#myAccountShipInfo h4 {color:var(--color-text1);}
input.submit_button {color:var(--color-text2);}
input.cssButtonHover {color:var(--color-text1);}
.normal_button {color:var(--color-text1);}
.cartNewItem {color:#33cc33;}
.productSpecialPrice {color:#ff0000;}
.productSalePrice {color:#ff0000;}
.productSpecialPriceSale {color:#ff0000;}
.productPriceDiscount {color:#ff0000;}
.list-more {color:var(--color-text1);} /*important*/


/*bof background colors  - dbltoe */
body {background:none;}
#mainWrapper {background-color:var(--color-second);background-color:rgba(var(--color-second-rgb),0.6);}
#headerWrapper {background:none;}
#logoWrapper {background:none;}
#cartBoxListWrapper {background:var(--color-text1);}
#ezPageBoxList {background:var(--color-text1);}
#cartBoxListWrapper ul {background:var(--color-text1);}
#ezPageBoxList ul {background:var(--color-text1);}
#popupAdditionalImage {background:var(--color-text1);}
#contentMainWrapper {background:none;}
.sideBoxContent {background:none;}
.rightBoxContent {background:var(--color-text1);}
.rowOdd {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb), 0.2);}
#productQuantityDiscounts table {background:var(--color-text1);}
#accountLinksWrapper {background:none;}
.productListing-odd {background-color:var(--color-form2);background-color:rgba(var(--color-form2-rgb),0.5);}
#pinfo-right {background-color:var(--color-form2);background-color:rgba(var(--color-form2-rgb),0.5);}
#sendSpendWrapper {background:#f4f4f4;}
.messageStackCaution {background-color:#ffff66;}
/*fieldset {background:var(--color-form2);}*/
.rowEven {background:none;}
#shippingEstimatorContent tr:nth-child(odd) {background:var(--color-form2);}
#order-comments {background:none;}
#no-products {background:var(--color-form2);}
.listing-wrapper:nth-child(odd) {background:var(--color-form2);}
#reviews-write-wrapper {background:var(--color-form2);}
#gvFaqDefaultContent {background:none;}
#checkoutPayAddressDefault .instructions {background:var(--color-form2);}
#checkoutShipAddressDefault .instructions {background:var(--color-form2);}
#addressBookDefault .instructions {background:var(--color-form2);}
#myAccountNotify {background:none;}
#myAccountGen {background:none;}
.reviews-wrapper {background:var(--color-form2);}
#accountHistInfo table td {background:var(--color-form2);}
#prevOrders td {background:var(--color-form2);}
#myAccountPaymentInfo {background:var(--color-form2);}
#myAccountShipInfo {background:var(--color-form2);}
#accountDefault #sendSpendWrapper {background:var(--color-form2);}
.tableHeading {background-color:#e9e9e9;}
#navEZPagesTOCWrapper {background:#ddd;}
.cartBoxTotal {background:#ddd;}
#productQuantityDiscounts tr:nth-child(even) {background:#ddd;}
#orderTotals {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
legend {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
#cart-box {background: none;}
#navMainWrapper {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
#navSuppWrapper {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
#shippingEstimatorContent h2 {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
.cartTotalsDisplay.important {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
#checkoutConfirmDefault .cartTableHeading {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
.list-more {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
#sendSpendWrapper h2 {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
#accountDefault #sendSpendWrapper h2 {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
#gvFaqDefaultSubHeading {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
#checkoutPayAddressDefaultAddress {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
#checkoutShipAddressDefaultAddress {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
#accountLinksWrapper h2 {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
#addressBookDefaultPrimary h2 {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
#reviewsWriteHeading {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
#myAccountPaymentInfo h3 {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
#myAccountShipInfo h3 {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
.cssButton.normal_button.button.button_more_reviews {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
.cssButton.normal_button.button.button_read_reviews {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
.rightBoxHeading {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
.leftBoxHeading {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
.centerBoxHeading {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
.cssButton.normal_button.button.button_logoff {background:#666;}
.cssButton.normal_button.button.small_edit {background:#666;}
#navEZPagesTop {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
.seDisplayedAddressLabel {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
TR.tableHeading {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
.prod-list-wrap {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.4);}
#myAccountPaymentInfo h4 {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
#myAccountShipInfo h4 {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
#siteinfoIP {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
#siteinfoLegal {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
#bannerSix {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
.messageStackWarning {background-color:#8b0000;}
.messageStackError {background-color:var(--color-warn);}
.messageStackSuccess {background-color:#99ff99;}
#shippingEstimatorContent th {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.2);}
.productListing-rowheading {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
#productQuantityDiscounts table tr:first-child td {background:#999;}
#navCatTabsWrapper {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
.current {background-color:#024150;background-color:rgba(2,65,80,0.6);}
.productListing-rowheading a {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
input.submit_button {  }
.normal_button {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
#filter-wrapper {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}
.cssButton.normal_button.button.button_goto_prod_details {background:#000;}
#docGeneralDisplay pinfo-right {background:none;}
#popupShippingEstimator {background-color:var(--color-second);background-color:rgba(var(--color-second-rgb),0.6);}
#popupSearchHelp {background-color:var(--color-second);background-color:rgba(var(--color-second-rgb),0.6);}
#popupAdditionalImage {background:none;}
#popupImage {background-color:var(--color-second);background-color:rgba(var(--color-second-rgb),0.6);}
#popupCVVHelp {background-color:var(--color-second);background-color:rgba(var(--color-second-rgb),0.6);}
#popupCouponHelp {background-color:var(--color-second);background-color:rgba(var(--color-second-rgb),0.6);}
#popupAtrribsQuantityPricesHelp {background-color:var(--color-second);background-color:rgba(var(--color-second-rgb),0.6);}
#infoShoppingCart {background-color:var(--color-second);background-color:rgba(var(--color-second-rgb),0.6);}
input[type=text] {background-color: #eee;background-color:rgba(var(--color-form2-rgb),0.8);}
select {background-color:var(--color-form2);background-color:rgba(var(--color-form2-rgb),0.5);}
.orderHistoryHeading tr {background-color:var(--color-form1);background-color:rgba(var(--color-form1-rgb),0.6);}
#navMainSearch1 {background-color:var(--color-main);background-color:rgba(var(--color-main-rgb),0.6);}

/*bof border colors*/
HR {border-bottom:1px solid var(--color-main);}
input {border:3px solid var(--color-main);}
textarea {border:3px solid #ccc;}
#navMain ul li {border-right:1px solid var(--color-text1);}
#navCatTabs li {border-left: 1px solid #05919f;}
#navCatTabs ul li:last-child {border-right:1px solid #05919f;}
#navSupp li {border-left: 1px solid #555;}
#navEZPagesTop li {border-left: 1px solid #555;}
#navSupp ul li:last-child {border-right:1px solid #555;}
#navEZPagesTop ul li:last-child {border-right:1px solid #555;}
.pagination li {border-left:1px solid #666;}
#siteinfoIP {border:1px solid #666;}
#siteinfoLegal {border:1px solid #666;}
#bannerSix {border:1px solid #666;}
#cartBoxListWrapper li {background-color:var(--color-form1);background-color:rgba(var(--color-form1-rgb),0.6);border-bottom:3px solid #f5f5f5;}
.orderHistList li {border-bottom:3px solid #f5f5f5;}
ul.list-links li {border-bottom:3px solid #f5f5f5;}
ol.list-links li {border-bottom:1px solid #ddd;}
#shoppingcartContent hr {border-bottom:3px solid #666;}
.tableHeading TH {border-bottom:1px solid #ccc;}
#cartSubTotal {border-top: 3px solid #ddd;}
#productQuantityDiscounts td {border-right:1px solid #eee;}
#seQuoteResults td {border: 1px solid var(--color-text2);}
.listBoxContentTable td {border: 1px solid var(--color-text2);}
.tableBorder1 td {border: 1px solid var(--color-text2);}

/*bof placeholders*/
::-moz-placeholder {color: #d01;}
:-moz-placeholder {color: #d01;}
::-webkit-input-placeholder {color: #d01;}
:-ms-input-placeholder {color: #d01;}
:placeholder-shown {color: #d01;}